<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="A_main.html" style="margin-left: 12rem">PETSPITAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="map.html">지도</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diagnosis">진료기록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/board">게시판</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">로그인</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">로그인</a>
          <a class="dropdown-item" href="M_searchId.html">아이디 찾기</a>
          <a class="dropdown-item" href="M_searchPass.html">비밀번호 찾기</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="public/html/M_memberRegist.html">회원가입</a>
        </div>
      </li>
    </ul>
  </div>
</nav>